<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <b> loginFrom</b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="loginFrom" (ngSubmit)="onLogin(loginFrom.value)">
    <ion-item lines="full">
      <ion-label position="floating"><b>Email:</b></ion-label>
      <ion-input type="email" formControlName="email" class="form-control" placeholder="Email" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating"><b>Password:</b></ion-label>
      <ion-input type="text" formControlName="password" class="form-control" placeholder="password " required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">SignIn</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <div class="ion-text-center">
    <ion-button [routerLink]="['/create']" fill="clear" class="ion-text-center">SignUp</ion-button>
  </div>
</ion-content>
